#Data Types and Structures Questions

1.What are data structures, and why are they important?

->A data structure is a systematic way of organizing, managing, and storing data so that it can be used efficiently.

->They are important because the right data structure:

*Improves efficiency of algorithms

*Helps in faster access, insertion, deletion, and searching of data.

*Enables solving complex problems effectively

2. Explain the difference between mutable and immutable data types with examplesP

->mutable data types:
*Mutable objects can be changed after they are created.

*You can add, remove, or update their elements without creating a new object in memory.

*Examples: lists, dictionaries, sets.

->immutable data types:

->Immutable objects cannot be modified once created. Any change creates a new object.

->They have fixed values

->Examples: strings, tuples, integers.

3.What are the main differences between lists and tuples in Python?

->List
*Mutable – can be modified after creation  
*Lists are given brackets [ ].

->Tuples
*immuutable – cannot be  modified after creation

*parentheses() are used to define

4.Describe how dictionaries store data?

->Dictionaries in Python store data as key–value pairs.

->Internally, they use a hash table data structure.

->Each key is passed through a hash function, which generates an index in the table.

5.Why might you use a set instead of a list in Python?

->A set is an unordered collection of elements where duplicates are not allowed.

->Sets are useful when you want to store only unique values

6.What is a string in Python, and how is it different from a list?

->A string is a sequence of characters enclosed in quotes (' ' or " ").

->Strings are immutable, meaning once created, they cannot be modified.

->Lists are sequences too, but they are mutable

->while Strings can store only characters,and lists can store different data types

7.How do tuples ensure data integrity in Python?

->Tuples are immutable, their elements cannot be changed, added, or removed.

->This immutability prevents modifications of the data,keeping its consistency and reliability.

8.What is a hash table, and how does it relate to dictionaries in Python?

->A hash table is a data structure that stores key-value pairs and uses a hash function to convert keys into in, allowing very fast data access.

-> dictionaries uses hash table where keys are hashed, and the value is stored at the index given by the hash.

9.Can lists contain different data types in Python?

->Yes, Python lists can contain different data types within the same list. For example, a list can have integers, strings, floats

10.Explain why strings are immutable in Python?

->Strings in Python are immutable to ensure security, efficiency, and consistency and prevents causing bugs

11. What advantages do dictionaries offer over lists for certain tasks?

->Dictionaries let us find things very quickly by using a key, like a name or ID. With lists,we will  have to look through each item one by one, which can take longer time

13.How do sets handle duplicate values in Python?

->Sets automatically remove duplicate values. When we add elements to a set, any repeated value will be  ignored,

14.How does the “in” keyword work differently for lists and dictionaries?

->For lists, the “in” keyword checks if the value is availabe in the list

->For dictionaries, it checks if the key exists

15.Can you modify the elements of a tuple? Explain why or why not?

->No,tuples  cannot be modifed because tuples are immutable

16.What is a nested dictionary, and give an example of its use case?

->A nested dictionary is a dictionary where the values themselves are dictionaries.

17.Describe the time complexity of accessing elements in a dictionary?

->Accessing an element in a dictionary by its key is very fast,and it takes less time

 18.In what situations are lists preferred over dictionaries?

->List are used when we need to store the item in specific order

->list are also used when we need to keep the duplicate values in our item

19.Why are dictionaries considered unordered, and how does that affect data retrieva?

->Dictonies doesnt stores the data in order and show up the item in unorderd form

20.Explain the difference between a list and a dictionary in terms of data retrieval?

->In a list, we retrieve data by its position (index).

->while in dictionary we retrieve data by a key (like a name or ID).

#Practical Questions

1.Write a code to create a string with your name and print it?

In [ ]:
name = "Ambhruni Yogesh Joshi"
print(name)

Ambhruni Yogesh Joshi

2.Write a code to find the length of the string "Hello World"?

In [ ]:
text = "Hello World"
length = len("hello world")
print(length)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
text = "Python Programming"
first_three_chars = text[:3]
print(first_three_chars)

Pyt

4.Write a code to convert the string "hello" to uppercase?

In [ ]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
word = "I like apple"
new_word = word.replace("apple", "orange")
print(new_word)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [ ]:
tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [ ]:
tuple = (10, 20, 5, 15)
minimum_number = min(tuple)
print(minimum_number)

5

14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [ ]:
element = ('dog' , 'cat' , 'rabbit')
index = element.index('cat')
print(index)

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [ ]:
tuple = ('apple', 'banana', 'strawberry')
if 'kiwi' in tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [ ]:
my_set={"a","b","c"}
print(my_set)

{'c', 'a', 'b'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [ ]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [ ]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [ ]:
set1={1,2,3}
set2={2,3,4}
intersection_set=set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [ ]:
my_dict = {"name": "Ambhruni Joshi",
           "age": "21",
           "city": "Bangalore"}
print(my_dict)

{'name': 'Ambhruni Joshi', 'age': '21', 'city': 'Bangalore'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [ ]:
my_dict = {'name': 'John',
           'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

In [ ]:
my_dict = {'name': 'Alice',
           'age': 30}
value = my_dict['name']
print(value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [1]:
my_dict = {'name': 'Bob',
           'age': 22,
           'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [2]:
my_dict = {'name': 'Alice',
           'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all?

In [3]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7,
                 "b": 8,
                 "c": 9}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8, 'c': 9}

28. Write a code to create a list with strings and print the element at the third index?

In [4]:
my_list = ["apple", "banana", "dragon fruit", "strawberry"]
print(my_list[3])

strawberry

29. Write a code to combine two dictionaries into one and print the result?

In [5]:
dict1 = {"a": 1,
         "b": 2}
dict2 = {"c": 3,
         "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set?

In [6]:
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}